# Data manipulation and analysis
pandas==1.5.3
numpy==1.24.3

# Machine Learning
scikit-learn==1.2.2

# Deep Learning
tensorflow==2.12.0
keras==2.12.0

# Jupyter Notebook
jupyter==1.0.0

# Visualization
matplotlib==3.7.1
seaborn==0.12.2

# Utility libraries
scipy==1.11.1
